<!DOCTYPE html>
<html>
<head>
<style>

body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}

.container{
   padding:15px;
   background-color:rgba(163,207,201,0.2);
}

.head{
   padding:0.8px;
   background-color:rgba(163,207,201,0.3);
}  

th{
  padding:25px 45px 15px 45px;
}

.container img{
   float:center;
   border-radius:50%;
}

h3,p{
   text-align:center;
   font-family:helvetica;
}

.about-section {
  padding: 30px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  top:0;
}

</style>
</head>
<body>
<div class="about-section">
  <h1>Health Monitoring Using Machine Learning</h1>
  <h2>June-1 Team 10 Project</h2>
    <h3>In this Health monitoring system we will be detecting the level of ill health of the person and would recommend few medications that can be taken by him by which he can recover a bit than before and here we are seeing some parameters of the person which are blood pressure,pulse and temperature by these parameters we can analyze his health status from 0-2 where 0 is that he is perfectly okay, 2 is that the person is very much ill that he need to consult doctor.</h3>
  <p>College: St Joseph Engineering College, Mangalore 575-028</p>
</div>

<div class="head">
<h2 style="text-align:center;"><b>Developers<b></h2>
</div>

<div class="container">
<table align="center">
 <tr>
  <th>
  <img src="/static/img/panchami.png" alt="Panchami" style="width:200px;height:200px">
  <h3 style="font-size:25px;"><b>Panchami Dilip Nayak<b></h3>
      <p>Smartbridge Intern</p>
      <p>99panchami@gmail.com</p> 
  <th>
  <img src="/static/img/rishabh.JPG" alt="Rishabh" style="width:200px;height:200px;">
  <h3 style="font-size:25px;"><b>Rishabh Hegde<b></h3>
      <p>Smartbridge Intern</p>
      <p>rishabhhegde8@gmail.com</p>
  <th>
  <img src="/static/img/sai.jpg" alt="Saiprasad" style="width:200px;height:200px;">
  <h3 style="font-size:25px;"><b>Saiprasad Rao<b></h3>
      <p>Smartbridge Intern</p>
      <p>rao.sai1999@gmail.com</p>
  <th>
  <img src="/static/img/sukshith.JPG" alt="Sukshith" style="width:200px;height:200px;">
  <h3 style="font-size:25px;"><b>Sukshith<b></h3>
      <p>Smartbridge Intern</p>
      <p>sukshithsuvarna@gmail.com</p>
      </b>
      </h3>
  </th>
      </b>
      </h3>
      </th>
      </b>
      </h3>
      </th>
      </b>
      </h3>
     </th>
      </tr>
</table>
</div>
</body>
</html>